.About_Us {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}
.About_Us__phrases {
    display: grid;
    justify-content: center;
    margin: 20px;
    color: white;
}
.About_Us__Text {
    font: 'Roboto', sans-serif;
    font-size: 1.2em;
    display: grid;
    margin: 2px;
}
.About_US__Main_phrase {
    font-weight: bold;
}
.About_Us__image {
    /* border: 2px solid red; */
}