
.form{
    background-color: white;
    border-radius: 3px;
    font-size: 0.8em;
    color: black;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}

.form input, textarea{
    outline: none;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;

    width: 280px;
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
}

.btn{
    background-color: chocolate;
    width: 50%;
    height: 2.1em;
    border-radius: 10px;
    box-shadow: 7px 9px 4px rgb(228, 226, 226);
}

.btn:hover{
    background-color: #F02828;
    font-weight: bold;
}