
body {
    font-family: 'Libre Franklin', sans-serif;
    background-size: auto 100%;
}
.menu_section {
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: 1fr 1.6fr;
}
.menu_section__texto {
    /* border: 2px solid green; */
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

.menu_section__image img {
    max-width: 100%;

}
.menu {
    font-family: 'Libre Franklin', sans-serif;
}

@media(min-width: 325px) and (max-width: 570px) {
    .menu_section {
        display: grid;
        /* border: 2px solid red; */
        grid-template-columns: 1fr;
    }
}

/*
@font-face{
    font-family:themillion;
    src: url(Fonts/Megan\ June.otf)
}
*/