:root {
    --azul_claro: #0173A7;
    --azul_mas_claro: rgb(18, 126, 177);
}

.menu__section {
    height: 600px;
    /* border: solid 2px red; */
    /*nico*/
    /* margin-left: 10%;*/
}
.imagen_fondo {
    width: 100%;
    max-height: 100%;
}
body {
    /* background-image: linear-gradient(to right, var(--azul_claro) 90%, var(--azul_mas_claro) 100%); */
    font-family: 'Roboto', sans-serif;
    background-size: auto 100%;
}
.menu {
    font-family: 'Roboto', sans-serif;
}
.menu__section {
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.texto p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
}