/* 
#button{
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    margin-left: 32%;
    padding: 10px;
    color: #fff;
}
#button li a:hover {
    margin-top: -2;
    padding-bottom: 12px;
}

#button li a {
    color: #FFFFFF;
    font-weight: bold;
}
#button a{
    text-decoration: none;
}
#button li {
    display: inline;
}

.Inicio{
    margin-right: 2%;
}
.QuienesSomos{
    margin-right: 2%;
}
.Servicios{
    margin-right: 2%;
}
.Contacto{
    margin-right: 2%;

}

/* 
BEGIN FOR RESPONSIVE AREA */
/* @media (max-width: 326) {
    #button li {
        display: grid;
        grid-template-columns: 1fr;
    }
} */ 

/* EDITED BY JEAN */
.menu__container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-items: center;
    padding-top: 10px;
    justify-content: center;
}

.menu__subtitle {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media(min-width: 325px) and (max-width: 570px) {
    .menu__container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
        /* background-color: red; */
    }
}
