
.menu__container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-items: center;
    padding-top: 10px;
    justify-content: center;
    font-family: 'Libre Franklin', sans-serif;
}

.menu__subtitle {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Libre Franklin', sans-serif;
}

@media(min-width: 325px) and (max-width: 570px) {
    .menu__container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }
}
@media(min-width: 571px) and (max-width: 716px) {
    .menu__container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }
}
