#button li a {
    font-family: Arial;
    font-size: 25px;
    text-decoration: none;
    float: right;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
    }

#button {
    padding: 0;
    }
       

#button li {
    display: inline;
    }

#button li a:hover {
    background-color: #2586d7;
    margin-top: -2;
    padding-bottom: 12px;
    }